// Figma design colors (defined by designers)
$gray-primary: #f2f4f8;
$gray-bg-icon: #e2e3e6;
$blue-primary: #2b5ab5;
$black-primary: #000000;
// Missing colors ?? (not defined by designers but exists in design)
