/** Figma design colors (defined by designers) **/
$neutrals-color: #2a2a2a;
$secondary-color: #3a72d6;
$primary-color: #ffc014;
$red-base: #ff624d;
$green-base: #79d1c7;

/**  Color default **/
$white-base: #ffff;
$black-base: black;

/**  Color in layout**/
$bg-color: $white-base;
