@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: $ff-primary;
  font-size: $fs-primary;
  // color: $text-primary;
  background-color: $bg-color;
  min-height: 100vh;
  overflow-x: hidden !important;
}
